<div *ngIf="editableTextComponentCurrent" class="edit-text-container shadow-dropped-down">

    <button class="ctrl-font float-left" (mouseover)="onShowFontOptions()" (click)="onShowFontOptions()"
        [style.fontFamily]="editableTextComponentCurrent.__dimensionAffectingProps.fontFamily">{{editableTextComponentCurrent.__dimensionAffectingProps.fontFamily}}</button>

    <button class="float-right" (mouseover)="onShowColorOptions()" (click)="onShowColorOptions()">
        <div class="color-tile"
            [style.backgroundColor]="editableTextComponentCurrent.color"></div>
    </button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onToggleItalic()"><em>i</em></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onToggleBold()"><strong>B</strong></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onUpdateAlign()"><img class="svg-icon"
            [src]="'assets/svg/align-' + editableTextComponentCurrent.textAlign + '.svg'"></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onUpdateSize()"><img class="svg-icon"
            src="assets/svg/format_size.svg"></button>

    <div class="color-dropdown" *ngIf="isShowColors">
        <button class="color shadow-dropped-down" *ngFor="let color of textSettings.options.colors; let i = index;"
            (mouseover)="onUpdateColor(i)">
            <div class="color-tile" [style.backgroundColor]="color"></div>
        </button>
    </div>

    <div class="font-dropdown" *ngIf="isShowFonts">
        <button class="font shadow-dropped-down" *ngFor="let font of textSettings.options.fonts; let i = index;"
            (mouseover)="onUpdateFont(i)">
            <div class="font-tile font-{{i}}" [style.fontFamily]="font.family">{{font.name}}</div>
        </button>
    </div>
</div>