<div [ngStyle] = "{'top.px': top, 'left.px': left}" *ngIf="editableTextComponentCurrent" class="menu-item edit-text-container shadow-dropped-down">

  <!-- <button class="ctrl-font float-left" (mouseover)="onShowFontOptions()" (click)="onShowFontOptions()"
        [style.fontFamily]="editableTextComponentCurrent.__dimensionAffectingProps.fontFamily">{{editableTextComponentCurrent.__dimensionAffectingProps.fontFamily}}</button>

    <button class="float-right" (mouseover)="onShowColorOptions()" (click)="onShowColorOptions()">
        <div class="color-tile"
            [style.backgroundColor]="editableTextComponentCurrent.color"></div>
    </button>

    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onToggleItalic()"><em>i</em></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onToggleBold()"><strong>B</strong></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onUpdateAlign()"><img class="svg-icon"
            [src]="'assets/svg/align-' + editableTextComponentCurrent.textAlign + '.svg'"></button>
    <button class="float-right" (mouseover)="onCloseOptions()" (click)="onUpdateSize()"><img class="svg-icon"
            src="assets/svg/format_size.svg"></button>

    <div class="color-dropdown" *ngIf="isShowColors">
        <button class="color shadow-dropped-down" *ngFor="let color of textSettings.options.colors; let i = index;"
            (mouseover)="onUpdateColor(i)">
            <div class="color-tile" [style.backgroundColor]="color"></div>
        </button>
    </div>

    <div class="font-dropdown" *ngIf="isShowFonts">
        <button class="font shadow-dropped-down" *ngFor="let font of textSettings.options.fonts; let i = index;"
            (mouseover)="onUpdateFont(i)">
            <div class="font-tile font-{{i}}" [style.fontFamily]="font.family">{{font.name}}</div>
        </button>
    </div> -->

  <div style="height: 100%; width: 138px" ngbDropdown class="menu-item float-left d-inline-block">
    <button [ngStyle]="{'font-family' : editableTextComponentCurrent.fontFamily}" style="width: 100%"
      class="btn menu-item" id="dropdownFont" ngbDropdownToggle>{{editableTextComponentCurrent.fontFamily}}</button>
    <div class="menu-item" ngbDropdownMenu aria-labelledby="dropdownFont">
      <button (click)="onUpdateFont(font)" class="menu-item" ngbDropdownItem
        *ngFor="let font of textSettings.options.fonts" [ngStyle]="{'font-family' : font}">{{font}}</button>
    </div>
  </div>

  <button (click)="onToggleBold()" [ngStyle]="{'font-weight': editableTextComponentCurrent.fontWeight}"
    class="menu-item float-left">
    B
  </button>

  <button (click)="onToggleItalic()" [ngStyle]="{'font-style': editableTextComponentCurrent.fontStyle}"
    class="float-left menu-item">
    i
  </button>

  <div style="height: 100%; width: 48px" ngbDropdown class="menu-item float-left d-inline-block">
    <button style="width: 100%" class="btn menu-item" id="dropdownSizes" ngbDropdownToggle>{{editableTextComponentCurrent.fontSize}}</button>
    <div class="menu-item sizes" ngbDropdownMenu aria-labelledby="dropdownSizes">
      <button (click)="onUpdateSize(fontSize)" class="menu-item" ngbDropdownItem
        *ngFor="let fontSize of textSettings.options.sizes">{{fontSize}}</button>
    </div>
  </div>

  <button (click)="onUpdateAlign()" class="float-left menu-item">
    <img class="svg-icon" [src]="'assets/svg/align-' + editableTextComponentCurrent.textAlign + '.svg'">
  </button>

  <div class="middle float-left">
    <input [ngStyle]="{'background-color' : editableTextComponentCurrent.fill}" #color (change)="onUpdateColor(color.value)" class="color" type="color">
  </div>

  <!-- <div style="height: 100%" ngbDropdown class="menu-item float-left d-inline-block">
    <button class="btn color" id="dropdownColor" ngbDropdownToggle>
      <span [ngStyle]="{'background-color' : editableTextComponentCurrent.fill}" class="color">

      </span>
    </button>
    <div class="menu-item" ngbDropdownMenu aria-labelledby="dropdownColor">
      <button (click)="onUpdateColor(color)" class="color" ngbDropdownItem
        *ngFor="let color of textSettings.options.colors" [ngStyle]="{'background-color' : color}"></button>
    </div>
  </div> -->

</div>