/* Main Layout */

.edit-text-container {
  width: 350px;
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: -54px;
  left: -26px;
  border-radius: 4px;
  padding-left: 10px;
  z-index: 9999;
}

button {
  width: 12%;
  height: 100%;
  background-color: #242A30;
  border: none;
  border-radius: 4px;
  margin-bottom: 0;
}

button.ctrl-font {
  width: 40%;
}

/* Font Dropdown */
select.font {
  outline: 0 !important;
  font-size: small; 
  width: min-content; 
  height: -webkit-fill-available; 
  border: none;
}

option.font {
  padding-top: 5px;
}

select.font:focus {
  outline: 0 !important;
}

.menu-item {
  color: white; 
  background-color: #242A30;
}

.color {
  width: 15px;
  height: 15px;
  margin-top: 19px;
  border-radius: 4px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}