<div class="overlay" id="overlay-text" [style.width.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].width"
  [style.height.px]="sizeSettings.sizes[sizeSettings.selectedSizeIndex].height">

  <!-- <app-edit-text id="headerTextOptions" [textComponent]="'_headerText'" [textSettings]="textSettings"
    *ngIf="textSettings.hasHeader"></app-edit-text>

  <app-edit-text id="bodyTextOption" [textComponent]="'_bodyText'" [textSettings]="textSettings"
    *ngIf="textSettings.hasBody"></app-edit-text>

  <app-edit-text id="captionTextOption" [textComponent]="'_captionText'" [textSettings]="textSettings"
    *ngIf="textSettings.hasCaption"></app-edit-text> -->

</div> 